<section
  class="flex flex-col w-full justify-center items-center mt-24"
  id="technologies"
>
  <h1 class="text-4xl font-bold">Technologies</h1>
  <p class="text-sm opacity-60 mt-2 mb-12">
    These are some of the technologies that I worked with:
  </p>
  <section
    class="w-full grid lg:grid-cols-6 md:grid-cols-4 grid-cols-2 auto-rows-[176px] gap-4"
  >
    <article
      class="lg:col-span-6 md:col-span-4 col-span-2 bg-[#1C1E23] rounded-2xl p-8 flex justify-center"
    >
      <div
        class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
      >
        <ul
          class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
        >
          <li class="mx-8">HTML</li>
          <li class="mx-8">CSS</li>
          <li class="mx-8">JavaScript</li>
          <li class="mx-8">TypeScript</li>
          <li class="mx-8">React</li>
          <li class="mx-8">Astro</li>
          <li class="mx-8">TailwindCSS</li>
          <li class="mx-8">Vite</li>
          <li class="mx-8">Next.js</li>
          <li class="mx-8">Supabase</li>
          <li class="mx-8">Python</li>
          <li class="mx-8">Pandas</li>
          <li class="mx-8">MySQL</li>
        </ul>
        <ul
          class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
          aria-hidden="true"
        >
          <li class="mx-8">HTML</li>
          <li class="mx-8">CSS</li>
          <li class="mx-8">JavaScript</li>
          <li class="mx-8">TypeScript</li>
          <li class="mx-8">React</li>
          <li class="mx-8">Astro</li>
          <li class="mx-8">TailwindCSS</li>
          <li class="mx-8">Vite</li>
          <li class="mx-8">Next.js</li>
          <li class="mx-8">Supabase</li>
          <li class="mx-8">Python</li>
          <li class="mx-8">Pandas</li>
          <li class="mx-8">MySQL</li>
        </ul>
      </div>
    </article>

    {
      /*
      <article class="col-span-3 bg-[#1C1E23] rounded-2xl p-8">
      I know 2 languages
    </article>
    <article class="md:col-span-3 bg-[#1C1E23] rounded-2xl p-8">
      Curso de Python
    </article>
    <article class="lg:col-span-2 md:col-span-4 bg-[#1C1E23] rounded-2xl p-8">
      University
    </article>
    */
    }
  </section>
</section>
