---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import Home from "../components/sections/Home.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Technologies from "../components/sections/Technologies.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Miguel Díaz | Portfolio">
  <Header />
  <main
    class="flex flex-col lg:max-w-6xl lg:mx-auto lg:p-0 px-4 w-full h-full items-center mb-8 selection:bg-primary selection:text-black"
  >
    <Home />
    <Experience />
    <Projects />
    <Technologies />
    <Footer />
  </main>
</Layout>
