<section class="w-full grid grid-cols-6 auto-rows-[176px] gap-4 mt-24">
  <article
    class="col-span-6 bg-[#1C1E23] rounded-2xl p-8 flex justify-between items-center"
  >
    <div>
      <p class="text-sm opacity-60">@addiveloper</p>
      <p class="text-sm opacity-60">Made in love with Astro 💚</p>
    </div>
    <div>
      <p class="text-sm opacity-60">Last update: February 18th, 2024</p>
    </div>
  </article>
</section>
